<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- Recommender</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/boilerplate.css') }}">
    {% block stylesheet %} {% endblock %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎵</text></svg>">
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('rate_artist') }}">Rate Artists</a>
        <a href="{{ url_for('home') }}">Recommendations</a>
        <a href="{{ url_for('logout') if 'user' in session else url_for('login')}}">{{"Log Out" if 'user' in session else "Log In/Sign Up"}}</a>
    </nav>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
