{% extends 'boilerplate.html' %}

{% block stylesheet %}<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/add_form.css') }}">{% endblock %}

{% block content %}
    <h1>{% block title %}Rate Artist {% endblock %}</h1>
<form method="post">
    <p>
        <label for="userid">User ID: </label>
        <input type="number" name="userid"
               placeholder="User ID">
        </input>
    </p>
    <p>
        <label for="artist">Artist: </label>
        <select name="artist"
               placeholder="will be a dropdown" class="dropdown">
               {% for artist in artists %}
                <option value="{{ artist[1] }}">{{ artist[1] }}</option>
               {% endfor %}
        </select>
    </p>
    <p>
        <label for="rating">Rating (/10): </label>
        <input type="number" name="rating"
               min="1" max="10" value="5">
        </input>
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>
{% endblock %}
