{% extends 'boilerplate.html' %}

{% block stylesheet %}<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/boilerplate.css') }}">{% endblock %}

{% block content %}
    <h1>{% block title %}Recommendations {% endblock %}</h1>
    {% if logged_in == True %}
      {% for rec in recs %}
        <p>{{rec}}</p>

      {% endfor %}
      <h3>Past Recommendations</h3>
      {% for past_rec in past_recs %}
        <p>{{past_rec}}</p>
      {% endfor %}
    {% else %}
    <a href="{{ url_for('login') }}">Log in to get recommendations!</a>
    {% endif %}
{% endblock %}
