{% extends 'boilerplate.html' %}

{% block stylesheet %}<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/boilerplate.css') }}">{% endblock %}

{% block content %}
    <h1>{% block title %}Recommendations {% endblock %}</h1>
    {% if logged_in == True %}
    {% if can_recommend == True %}
      {% for rec in recs %}
        <p>{{rec}}</p>

      {% endfor %}
      <h3>Past Recommendations</h3>
      {% if past_recs|length >= 1 %}
        {% for past_rec in past_recs %}
          <p>{{past_rec}}</p>
        {% endfor %}
      {% else %}
        <p>You don't have any previous recommendations yet. When you do, they will show up here.</p>
      {% endif %}
    {% else %}
      <p><a href="{{ url_for('rate_artist') }}">Rate {{ 10 - num_rated }} more artists</a> to get recommendations! </p>
    {% endif %}
    {% else %}
    <a href="{{ url_for('login') }}">Log in to get recommendations!</a>
    {% endif %}
{% endblock %}
