@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,wght@1,300&display=swap');

body {
  background-color: rgb(47,79,79);
  color: white;
  font-family: Bebas Neue, sans-serif;
  margin-left: 3em;
}
