@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,wght@1,300&display=swap');

body {
  background-color: black;
  color: white;
  font-family: Bebas Neue, sans-serif;
  margin: 1.5em;
}

.navbar {
  background-color: rgb(120,120,120);
  width: 80%;
  font-size: 2em;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0.7em;
  margin-top: auto;
  margin-bottom: auto;
}

.masthead {
  display: flex;
  background-color: rgb(180,180,180);
  border-radius: 20px;
}

.masthead h1 {
  color: white;
  font-size: 3em;
  padding: 0.2em;
}

.navbar a {
    text-decoration: none;
    color: black;
}

a {
  color: white;
}
