@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

body {
  background-color: #1C2121;
  color: white;
  font-family: Bebas Neue, sans-serif;
  margin: 0px;
}

.content {
  padding: 0.5em;
  margin: 0.5em;
}

.navbar {
  width: 100%;
  font-size: 2em;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 0.5em;
  padding-right: 0.5em;
  position: relative;
}

.masthead {
  display: flex;
  background-color: green;
  margin: none;
  padding: none;
  width: 100%;
}

.masthead h1 {
  color: white;
  font-size: 1.5em;
  font-family: 'Chicle', cursive;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  margin: 0;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 3vw;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar a:hover {
    text-decoration: none;
    /* color: black; */
    font-size: 3vw;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.icon:hover {
  filter: invert(1);
}

a {
  color: white;
}

.burger {
  display: none;
}

@media screen and (max-width: 666px) {
  .navbar a {
    display: none;
  }
  .navbar.open {
    display: block;
  }
  .navbar.open a {
    display: block;
    font-size: 1em;
  }
  .navbar.open .burger-toggle {
    display: block;
  }
  .navbar.open .masthead {
    display: block;
  }
  .navbar .burger {
    position: absolute;
    display: block;
    top: 0;
    bottom: auto;
    right: 0;
    cursor: pointer;
    background: unset;
  }
  .navbar .burger svg {
    stroke: white;
  }
  .navbar button {
    border: none;
  }
  #close-button {
    display: none;
  }
  .navbar.open #open-button {
    display: none;
  }
  .navbar.open #close-button {
    display: block;
  }
}
